name: Build plugins artifacts
on: [pull_request, workflow_call]

env:
  # Link for Linux zip file from https://developer.android.com/studio/archive
  ANDROID_STUDIO_URL: https://redirector.gvt1.com/edgedl/android/studio/ide-zips/2024.1.1.11/android-studio-2024.1.1.11-linux.tar.gz
  COMPILER_VERSION: 241.15989.15

jobs:
  build:
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set up JDK 1.17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Download Android Studio
        run: |
          wget -O android-studio.tar.gz -q $ANDROID_STUDIO_URL
          tar -xf android-studio.tar.gz -C ./
      - name: Build plugins
        run: |
          ./gradlew buildAllPlugins \
            -DandroidStudioPath="$(pwd)/android-studio" \
            -DandroidStudioCompilerVersion="$COMPILER_VERSION" \
            -DandroidStudioPluginsNames="org.jetbrains.android,org.jetbrains.kotlin,com.intellij.java,org.intellij.groovy,Git4Idea,org.intellij.intelliLang"
