name: Build plugins artifacts
on: [pull_request, workflow_call]

env:
  # Link for Linux zip file from https://developer.android.com/studio/archive
  ANDROID_STUDIO_URL: https://redirector.gvt1.com/edgedl/android/studio/ide-zips/2025.1.3.7/android-studio-2025.1.3.7-linux.tar.gz

jobs:
  build:
    name: Build Plugin
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Download Android Studio
        run: |
          wget -O android-studio.tar.gz -q $ANDROID_STUDIO_URL
          tar -xf android-studio.tar.gz -C ./
      - name: Build plugins
        run: |
          ./gradlew buildAllPlugins \
            -DandroidStudioPath="$(pwd)/android-studio"
